/*Палитра цветов*/
$color-white: #fff;
$color-light-blue: #ccdedb;
$color-blue: #28b8af;
$color-dark-blue: #138f87;
$color-ashy: #325b70;
$color-bg: #11212a;
$color-container: #102430;
$color-sub-bg: #152a36;


/*Шрифты*/
$font-logo: Furore;
$font-title-block: Baron Neue;
$font-title-page: Gilroy;
$font-subtitle-page: Gilroy;
$font-text: Gilroy;

